@model IEnumerable<Learning_Management_System.Models.Chapter>

@{
    ViewData["Title"] = "CourseManagement";
}

<h1>CourseManagement</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChapterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChapterTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNumberOfLesson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course.CourseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNumberOfLesson)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChapterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChapterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChapterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
