@using Microsoft.AspNetCore.Identity;
@model IEnumerable<Learning_Management_System.Models.Course>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "MyClass";
    int num = 0;
    var _signInManager = SignInManager.IsSignedIn(User);
}

<h1>MyClass</h1>

<p>
    <a asp-action="CreateCourse" asp-controller="Course" 
    asp-route-userId="@User.Claims.First().Value">Create New Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @(++num)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStarted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCompleted)
            </td>
            <td>
                    <a asp-action="CourseManagement" asp-route-courseId="@item.CourseId">Management</a> 
            </td>
        </tr>

}
    </tbody>
</table>
