@model Learning_Management_System.Models.User
@{
    var modelError = Html.ValidationMessage("EditError");
}
<body>
    @if (Model != null)
    {
        var avatar = User.Claims.First(c => c.Type == "AvatarUrl").Value.Replace("AvatarUrl:", "");
        <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                                @*                         <li class="breadcrumb-item active"><a href="#">User Profile</a></li> *@
                                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <form enctype="multipart/form-data" asp-action="UserProfile">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <!-- Student Card -->
                                <div class="card-body text-center">
                                    @*                                     <img src="@avatar" alt="avatar"
                                class="rounded-circle img-fluid" style="width: 150px;"> *@
                                    <div class="avatar-wrapper">
@*                                         <img src="@Model.Avatar" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;"> *@
                                        <img src="@Model.Avatar" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;" id="currentAvatar">
                                        <img src="" alt="avatar" class="rounded-circle img-fluid" style="width: 150px; display:none;" id="newAvatar">
                                    </div>
                                    <label for="fileInput" class="btn btn-secondary btn-xs px-1 py-0 m-0" >Upload</label>
                                    <input name="avatar" type="file" id="fileInput" style="display: none;"/>
                                    <h5 class="my-3">@Model.UserName</h5>
                                    <p class="text-muted mb-1">@Enum.GetName(typeof(EnumClass.Role), Model.Role)</p>
                                    <p class="text-muted mb-4">Thoai Ngoc Hau, My Long</p>
                                    <div class="d-flex justify-content-center mb-2">
                                        <button type="submit" asp-action="UserProfile" asp-controller="User" class="btn btn-primary">Save</button>
                                        @*                                         <button type="button" class="btn btn-primary" id="editButton" style="display: none;">Edit Information</button> *@
                                        @*                                     <button type="button" class="btn btn-primary" id="editButton">Edit Information</button> *@
                                        @*                                     <button type="button" class="btn btn-outline-primary" style="display: none;" id="saveButton">Save Information</button> *@
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4 mb-lg-0">
                                <div class="card-body p-0">
                                    <ul class="list-group list-group-flush rounded-3">
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                            <i class="fas fa-globe fa-lg text-warning"></i>
                                            <a href="#" class="mb-0">Click here</a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                            <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                            <a href="#" class="mb-0">Click here</a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                            <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                            <a href="#" class="mb-0">Click here</a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                            <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                            <a href="#" class="mb-0">Click here</a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                            <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                            <a href="#" class="mb-0">Click here</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">

                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row" hidden>
                                        <div class="col-sm-3">
                                            <p class="mb-0">UserId</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" asp-for="UserId" class="form-control" value="@Model.UserId">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            @*                                             <p class="text-muted mb-0" id="email">@Model.Email</p> *@
                                            <input type="text" asp-for="Email" id="EmailInput" class="form-control" value="@Model.Email">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Full Name</p>
                                        </div>
                                        <div class="col-sm-9">
                                            @*                                     <p class="text-muted mb-0" id="fullName">@Model.UserName</p> *@
                                            <input type="text" asp-for="UserName" class="form-control" value="@Model.UserName">
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Date Of Birth</p>
                                        </div>
                                        <div class="col-sm-9">
                                            @*                                         <p class="text-muted mb-0">@Model.DateOfBirth.ToString("d")</p> *@
                                            <input type="datetime" asp-for="DateOfBirth" class="form-control" value="@Model.DateOfBirth.ToString("d")">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Phone Number</p>
                                        </div>
                                        <div class="col-sm-9">
                                            @*                                         <p class="text-muted mb-0">(098) 765-4321</p> *@
                                            <input type="text" class="form-control" value="(098) 765-4321">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Address</p>
                                        </div>
                                        <div class="col-sm-9">
                                            @*                                         <p class="text-muted mb-0">Thoai Ngoc Hau, My Long</p>*@
                                            <input type="text" class="form-control" value="Thoai Ngoc Hau, My Long">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card mb-4 mb-md-0">
                                        <div class="card-body">
                                            <p class="mb-4">
                                                <span class="text-primary font-italic me-1">assigment</span> Project Status
                                            </p>
                                            <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                            <div class="progress rounded mb-2" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card mb-4 mb-md-0">
                                        <div class="card-body">
                                            <p class="mb-4">
                                                <span class="text-primary font-italic me-1">assigment</span> Project Status
                                            </p>
                                            <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                            <div class="progress rounded mb-2" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    }
    <script>
        $(document).ready(function () {
            // Trigger file input click when the "Upload" label is clicked
            // $("label[for='fileInput']").click(function () {
            //     $("#fileInput").click();
            // });

            // Handle file input change event
            $("#fileInput").change(function () {
                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        // Update the source of the new avatar image with the uploaded file
                        $("#newAvatar").attr("src", e.target.result);

                        // Show the new avatar image and hide the current avatar image
                        $("#newAvatar").show();
                        $("#currentAvatar").hide();
                    };

                    // Read the uploaded file as a data URL
                    reader.readAsDataURL(input.files[0]);
                }
            });
        });
    </script>
    @*     <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Thay đổi không thành công.</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    ...
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
    </div>
    </div>
    <script>
    $.ajax({
    success: function (modelError) {
    if (modelError != null) {
    $('#exampleModal').modal('show');
    } else {
    // Handle the case when there is no error if needed
    }
    }
    });
    // // Check if the UserNull flag is set
    // $.ajax({
    //     type: "POST",
    //     url: "/User/UserProfile", // Replace "ControllerName" with your actual controller name
    //     contentType: "application/json; charset=utf-8",
    //     dataType: "json",
    //     success: function (data) {
    //         if (!data.success) {
    //             // Update the page with the new user details if successful
    //             var user = data.user;
    //             // Update the page elements with the new user details
    //             // ...
    //         } else {
    //             // Handle the error message if not successful
    //             alert(data.message);
    //         }
    //     },
    //     error: function (error) {
    //         console.error("Error updating user profile:", error);
    //     }
    // });

    </script> *@
</body>