@model List<Learning_Management_System.Models.Course>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    SignInManager.IsSignedIn(User);
}

<h1>Index</h1>
<p>
    <a asp-action="CreateCourse" asp-route-userId="@User.Claims.First().Value">Create New</a>
</p>

<span class="alert-danger">@Html.ValidationSummary()</span>
<table class="table">
    <thead>
        <tr>
            <td>CourseTitle </td>
            <td>CourseDescription</td>
            <td>Category</td>
            <td>Teacher's Name</td>
            <td></td>
            @*             <th>DateExpired</th>
            <th>DateCompleted</th>
            <th></th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.CourseTitle</td>
                <td> @item.CourseDescription</td>
                <td> @item.Category.CategoryName</td>


                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Name)
                </td>
                <td>
                    <a asp-action="RegisterCourse" asp-route-courseId="@item.CourseId" class="btn btn-primary">Register Course</a>
                    @*                     <a asp-action="Details" asp-route-id="@item.CourseId">Details</a>
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>




