@model Learning_Management_System.Models.Course
@inject LmsDbContext _context
@{

}
@if (Model != null)
{
    var originalPrice = 150 - Model.Price;
    var similarList = _context.Courses.Where(list => list.Category.CategoryId == Model.Category.CategoryId && list.CourseId != Model.CourseId && list.TeacherId == Model.TeacherId);
    <div class="container my-5">
        <div class="row">
            <div class="col-md-5">
                <div class="main-img">
                    <img class="img-fluid" src="~/img/carousel-2.jpg" alt="ProductS">
                    @*                 <div class="row my-3 previews">
                <div class="col-md-3">
                <img class="w-100" src="https://cdn.pixabay.com/photo/2015/07/24/18/40/model-858754_960_720.jpg" alt="Sale">
                </div>
                <div class="col-md-3">
                <img class="w-100" src="https://cdn.pixabay.com/photo/2015/07/24/18/38/model-858749_960_720.jpg" alt="Sale">
                </div>
                <div class="col-md-3">
                <img class="w-100" src="https://cdn.pixabay.com/photo/2015/07/24/18/39/model-858751_960_720.jpg" alt="Sale">
                </div>
                <div class="col-md-3">
                <img class="w-100" src="https://cdn.pixabay.com/photo/2015/07/24/18/37/model-858748_960_720.jpg" alt="Sale">
                </div>
                </div> *@
                </div>
            </div>
            <div class="col-md-7">
                <div class="main-description px-2">
                    <div class="category text-bold">
                        Category: @Model.Category.CategoryName
                    </div>
                    <div class="product-title text-bold my-3">
                        @Model.CourseTitle
                    </div>


                    <div class="price-area my-4">
                        <p class="old-price mb-1"><del>$150</del> <span class="old-price-discount text-danger">($@originalPrice Off)</span></p>
                        <p class="new-price text-bold mb-1">$@Model.Price</p>
                        <p class="text-secondary mb-1">(Additional tax may apply on checkout)</p>

                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        using var context = new LmsDbContext();
                        @* var student = context.Users.First(u => u.UserId == User.Claims.First().Value); *@
                        var id = Model.CourseId;
                        var enrolled = context.Enrollments.Any(e => e.UserId == User.Claims.First().Value && e.CourseId == id);
                        @if (enrolled)
                        {
                            var enrollment = context.Enrollments.FirstOrDefault(e => e.UserId == User.Claims.First().Value && e.CourseId == id);
                            <div class="buttons d-flex my-5">
                                
                                <div class="block">
                                    <p style="color:burlywood" class="old-price mb-1">You purchased this course on @enrollment.EnrollmentDate.ToString("yyyy-MM-dd")</p>
                                    <a style="background-color:grey" asp-action="AddItemToCart" asp-controller="Cart" asp-route-courseId="@Model.CourseId" asp-route-userId="@User.Claims.First().Value" class="shadow btn custom-btn ">Go To Course</a>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="buttons d-flex my-5">
                                <div class="block">
                                    <a asp-action="AddItemToCart" asp-controller="Cart" asp-route-courseId="@Model.CourseId" asp-route-userId="@User.Claims.First().Value" class="shadow btn custom-btn ">Add To Cart</a>
                                </div>
                                <div class="block">
                                    <a asp-action="Checkout" asp-controller="CourseUser" asp-route-courseId="@Model.CourseId" class="shadow btn custom-btn">Register</a>
                                </div>

                                <div class="block quantity">
                                    <input type="number" class="form-control" id="cart_quantity" value="1" min="0" max="5" placeholder="Enter email" name="cart_quantity">
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="buttons d-flex my-5">
                            <div class="block">
                                <a asp-action="Login" asp-controller="User" class="shadow btn custom-btn ">Add To Cart</a>
                            </div>
                            <div class="block">
                                <a asp-action="Login" asp-controller="User" class="shadow btn custom-btn">Buy Now</a>
                            </div>

                            <div class="block quantity">
                                <input type="number" class="form-control" id="cart_quantity" value="1" min="0" max="5" placeholder="Enter email" name="cart_quantity">
                            </div>
                        </div>
                    }



                </div>

                <div class="product-details my-4">
                    <p class="details-title text-color mb-1">Course Details</p>
                    <p class="description">@Model.CourseDescription </p>
                </div>
                @*
            <div class="row questions bg-light p-3">
            <div class="col-md-1 icon">
            <i class="fa-brands fa-rocketchat questions-icon"></i>
            </div>
            <div class="col-md-11 text">
            Have a question about our products at E-Store? Feel free to contact our representatives via live chat or email.
            </div>
            </div> *@

                <div class="delivery my-4">
                    @*                 <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span> <b>Delivery done in 3 days from date of purchase</b> </p> *@
                    <p class="font-weight-bold mb-0"><b>Teacher: @Model.Teacher.UserName</b> </p>
                    @*  <p class="text-secondary">Order now to get this product delivery</p> *@
                </div>
                @*             <div class="delivery-options my-4">
            <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-filter"></i></span> <b>Delivery options</b> </p>
            <p class="text-secondary">View delivery options here</p>
            </div> *@


            </div>
        </div>
    </div>





    <div class="container similar-products my-4">
        <hr>
        <p class="display-5">Similar Courses of Teacher @Model.Teacher.UserName</p>
        <div class="row">
            @foreach (var item in similarList)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="@item.ImageCover" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">


                            </div>
                            <a class="h5" asp-action="CourseDetail" asp-controller="CourseUser" asp-route-courseId="@item.CourseId">@item.CourseTitle</a>
                            @*                             <br>
                    <a id="teacherName" href="">Teacher: @item.Teacher.UserName</a> *@
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$@item.Price</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @*  <div class="col-md-3">
        <div class="similar-product">
        <img class="w-100" src="https://source.unsplash.com/sg_gRhbYXhc" alt="Preview">
        <p class="title">Lovely Dress with patterns</p>
        <p class="price">$85</p>
        </div>
        </div>
        <div class="col-md-3">
        <div class="similar-product">
        <img class="w-100" src="https://source.unsplash.com/gJZQcirK8aw" alt="Preview">
        <p class="title">Lovely fashion dress</p>
        <p class="price">$200</p>
        </div>
        </div>
        <div class="col-md-3">
        <div class="similar-product">
        <img class="w-100" src="https://source.unsplash.com/qbB_Z2pXLEU" alt="Preview">
        <p class="title">Lovely red dress</p>
        <p class="price">$120</p>
        </div>
        </div> *@
        </div>
    </div>
}
