@model List<Learning_Management_System.Models.Chapter>
@inject LmsDbContext db
<div class="container px-3 my-5 clearfix">
    <div class="card">
        <div class="card-header">
            <h2>Course Information</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <!-- Set columns width -->
                            <th class="text-center py-3 px-4" style="min-width: 400px;">Chapters</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var NumberStudent = db.Enrollments.Count(student => student.CourseId == item.CourseId);
                            <tr>
                                <td class="p-4">
                                    <div class="media align-items-center">
                                        <img src="@item.course.ImageCover" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                        <div class="media-body">
                                            <a asp-action="LessonDetail" asp-controller="Student" asp-route-chapterId="@item.ChapterId" class="d-block text-dark">@item.ChapterTitle</a>
                                            <small>
                                                <small class="m-0">Lectures: @item.TotalNumberOfLesson</small> &nbsp;
                                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>@NumberStudent</small> &nbsp;
                                            </small>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right font-weight-semibold align-middle p-4">Edit</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>